<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="windows-1251"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files (x86)\DcUg\bin\dcug.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="compile&#13;&#10;&quot;${selected_resource_loc}&quot;&#13;&#10;as&#13;&#10;stn"/>
</launchConfiguration>
